@import url("https://fonts.googleapis.com/css?family=Cabin:400,500,700");

* {
    box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
    font-family: 'Cabin', sans-serif;
    width: 100%;
    float: left;
}

div#skylogo {
    float: left;
    margin-top: 5px;
    width:120px;
}

div#titlebarratecontentleaderboardupload {
    float:left;
}

.titlebarratecontentleaderboardupload {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 5px;
    width: 500px;
    height: 40px;
    background-color: #ecf0f1;
}

.images{
    float: left;
    width : 100%;
}

.imgbox{
    float: left;
    width : 100%;
    margin-top: 20px;
    margin-left: 10px;
    height: 120px;
    width: 110px;
    background-color: #ecf0f1;
}

.names {
    float: left;
    width : 100%;
    margin-top: 7px;
}

.namebox {
    font-size: 10px;
    width : 100%;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
    height: 30px;
    width: 110px;
    background-color: #ecf0f1;
}

.starsbox {
    width : 100%;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    height: 20px;
    width: 110px;
    background-color: #ecf0f1;
}

.stars {
  width: 100%;
}
