<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs%>
    <h3>Welcome to the <%=title%> page</h3>
    <p> this is some content on the about page of <%=name%>'s site</p>

  </body>
</html>
