<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="#">Back to the start</a>
    <form>
      <table border="1" style="width:50%">
        <tr>

          <td></td>

          <td id = "0x1">
            <input type = "text" name = "input0x1"></input>
            <button>submit</button>
          </td>

          <td></td>

        </tr>
        <tr>

          <td id = "1x0">
            <input type = "text" name = "input1x0"></input>
            <button>submit</button>
          </td>

          <td id = "1x1">Once upon a time there was a big bad wolf</td>

          <td id = "1x2">
            <input type = "text" name = "input1x2"></input>
            <button>submit</button>
          </td>

        </tr>
        <tr>

          <td></td>

          <td id = "2x1">
            <input type = "text" name = "input2x1"></input>
            <button>submit</button>
          </td>

          <td></td>

        </tr>
      </table>
    </form>
  </body>
</html>
