<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="#">Back to the start</a>
    <form>
      <table border="1" style="width:50%">
        <tr>
          <td id = "1">blank cell 1</td>
          <td id = "2">
            <input id= "input2"></input>
            <button id = "button2">submit</button>
          </td>
          <td id = "3">blank cell 3</td>
        </tr>
        <tr>
          <td id = "4">
            <input id= "input4"></input>
            <button id = "button4">submit</button>
          </td>
          <td id = "5">once upon a time there was a big bad wolf</td>
          <td id = "6">
            <input id= "input6"></input>
            <button id = "button6">submit</button>
          </td>
        </tr>
        <tr>
          <td id = "7">blank cell 7</td>
          <td id = "8">
            <input id= "input8"></input>
            <button id = "button8">submit</button>
          </td>
          <td id = "9">blank cell 9</td>
        </tr>
      </table>
    </form>
  </body>
</html>
